@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family1: 'Bebas Neue', sans-serif;
    --text-title-family: 'Anton', sans-serif;
    --text-title-family2: "Link Sans", "Arial Black", Arial, sans-serif;
    --text-title-family-size: 1.2rem;
    --text-title-family-size-min: 0.98rem;
    --text-title-family-size-max: 3.5rem;
    --text-title-familiy-size-average: 1.8rem;
    --text-color: rgb(30, 35, 48);
    --text-color2: rgb(103, 107, 95);
    --content-bgcolor: #F8F3F2;
    --bgcolor: rgb(255, 255, 255);
    --bgcolors: rgb(239, 240, 236);
    --text-colors: rgb(168, 170, 162);
    --text-colors3: rgb(27, 29, 26);
    --hover-color: rgb(29, 32, 30);
    --font-family5: 'Josefin Sans', sans-serif;
    --font-family6: 'Yanone Kaffeesatz', sans-serif;
    --font-family7: 'Inter', 'Helvetica', 'Arial', 'system-ui', '-apple-system' !important;
    --font-family8: 'Fjalla One', sans-serif;
}

.container .container_title .titles_1 svg {
    height: 25px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.titles_1 {
    display: flex;
    justify-content: start;
    margin-top: 43px;
    margin-left: 60px;
}

main {
    margin-left: -150px;
    display: flex;
    margin-top: 80px;
}

main .mainsdiv {
    margin-top: 20px;
    text-align: center;
    width: 600px;
}

main .main_title h1 {
    color: var( --hover-color);
    font-family: var( --text-title-family2);
    font-size: 2.8rem;
}

main .main_title p {
    font-family: var(--font-family8);
    color: var(--text-colors);
    margin: 10px;
    margin-right: 10px;
}

.main_form {
    margin-top: 20px;
}

.main_form form .input-1 {
    border-radius: 10px;
    width: 100%;
    display: flex;
    background-color: rgb(248, 248, 248);
}

.main_form form .input-2 {
    border-radius: 10px;
    width: 100%;
    display: flex;
    background-color: rgb(248, 248, 248);
    margin-top: 30px;
}

.main_form form .input-2 {
    color: var(--text-colors);
}

.main_form form .input-2 span {
    margin-top: 20px;
    font-family: var(--font-family5);
    margin-left: 10px;
}

.main_form form input {
    width: 90%;
    margin: 10px;
    outline: none;
    border: 2px solid rgb(248, 248, 248);
    background-color: rgb(248, 248, 248);
    padding: 14px 8px 14px 8px;
}

.main_form form input:nth-child(2) {
    margin-left: 1px;
    margin-top: 2px;
}

.main_form form #btn {
    width: 100%;
    text-align: center;
    background-color: rgb(50, 3, 129);
    font-family: var(--font-family8);
    padding: 18px 10px 18px 10px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    color: #fff;
    font-size: 1rem;
}

.main_text p {
    color: var(--text-colors);
    font-family: var(--text-title-family2);
    font-size: 0.74rem;
    min-width: 30px;
    max-width: 810px;
    margin-top: 20px;
}

.main_text p a {
    color: var(--text-colors);
    font-family: var(--text-title-family2);
}

.main_text h6 {
    color: var(--text-colors);
    font-family: var(--text-title-family2);
    font-size: 1rem;
    margin-top: 10px;
}

.main_text button svg {
    width: 100px;
    margin-left: -20px;
}

.main_text button div {
    margin-left: -30px;
    margin-top: 1px;
    font-family: var(--text-title-family2);
    color: var(--text-color);
    font-size: 1.1rem;
}

.main_text button {
    width: 100%;
    padding: 14px 12px 14px 12px;
    background-color: #fff;
    text-align: center;
    display: flex;
    border: 01px solid rgb(63, 62, 62);
    border-radius: 20px;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
}

.main_text button:hover {
    border: 01px solid rgb(248, 248, 248);
    background-color: rgb(248, 248, 248);
}

@media only screen and (max-width:960px) {
    .iamges_div {
        display: none;
    }
}

@media only screen and (max-width:862px) {
    main {
        margin-left: 60px;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
}
#error{
    color:red;
    font-family: var(--font-family8);
}